* {
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: lightgreen;
}
.navbar_links {
    padding: 14px 10px;
    margin: auto;
    font-size: 18px;
}
button{
    background-color: black;
    border: solid white;
    border-radius: 8px;
    font-size: 18px;
    float: right;
    color: white;
}
button:hover{
    background-color: lightgreen;
}
.active{
    color: lightgreen;
}
nav{
    background-color: black;
    padding: 10px;
}
.hero_main{
    font-size: 30px;
    text-align: center;
    margin: 30px 0px 0px 0px;
}
.hero_footer{
    text-align: center;
    font-size: 13px;
}
.self_links{
    color: gold;
}
.self_links:hover{
    color: black;
}
.footer{
    background-color: black;
    padding: 10px 10px;
    margin: auto;

}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
.p_main{
    padding: 13px 0px;
}
.p_footer{
    padding: 10px 0px;    
}
.con{
    padding: 13px 0px;
}
.con_main{
    padding: 10px 0px;
}
